# Server
PORT=3000
NODE_ENV=development

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=picode
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false

